body{
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

a{
  color:  #000;
}

.top-bar{
  .menu{
    text-transform: uppercase;
    color: #000;
  }
  .button{
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff !important;
  }
  a{
    color: #000 !important;
    font-weight: 500;
  }
  img{
    height: 30px;
  }
}

.header{
  background: url(../images/the-ridge.jpg) center center no-repeat;
  background-size: cover;

  .container{
    text-transform: uppercase;
    background-color: black;
    color: #fff;
    opacity: 0.3;
    height: 450px;
    padding: 180px 120px 120px 100px;
    h2{
      text-align: center;
      font-size: 40px;
      font-weight: 400;
    }
  }
}

.section-a{
  padding: 30px 60px 40px;
  margin-right: 20px;
  h5{
    color: #8a8a8a;
  }
  .bolden{
    border: 2px solid #000;
    margin-bottom: 0;
  }
  h4{
    font-weight: 300;
  }

  a{
    text-transform: uppercase!important;
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}

.section-b{
  padding: 30px 60px 40px;
  .margin-bigger{
    margin-top: 60px;

    h4{
      font-weight: 300;
    }
  }
  a{
    text-transform: uppercase!important;
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}

.section-c{
  background: url(../images/the-ridge.jpg) center center no-repeat;
  background-size: cover;
  height: 300px;

  .container{
    text-align: center;
    padding-left: 600px;
    padding-top: 140px;
    background-color: black;
    opacity: 0.3;
    color: #fff;
    height: 300px;

    .fa{
      font-size: 20px;
      padding-top: 18px;
      padding-left: 10px;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
  }
}

.section-d{
  padding: 60px 0 60px;
  background-color:  #f8f8f8;

  .move-down{
    margin-top: 80px;
    h4{
      font-weight: 300;
    }
  }
}

.section-e{
  padding: 60px 0 60px;
  h4{
    font-weight: 300;
  }
  a{
    text-transform: uppercase!important;
    font-size: 12px !important;
    font-weight: 500 !important;
  }
  .button{
    background-color: black !important;
    border-radius: 5px;
  }
}

.section-f{
  //padding: 30px 0 30px;
  background: url(../images/the-ridge.jpg) center center no-repeat;
  background-size: cover;

  .container{
    text-align: left;
    font-weight: 600;
    background-color: black;
    padding-top: 80px;
    opacity: 0.7;
    color: #fff;
    height: 300px;
  }
  a{
    color: #fff;
  }
}

.partners{
  padding: 30px 0 30px;
  h4{
    text-align: center;
    font-weight: 300;
  }
  img{
    height: 90px;
    color: black;
    opacity: 0.5;
  }
}

.other-developments{
  padding: 60px 0 40px;
  background-color: #000;
  color: #fff;
  a{
    text-transform: uppercase!important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #fff;
  }
  h4{
    text-align: center;
  }
  img{
    height: 300px;
  }

  .situ{
    background: url(../images/estates/situ.jpeg) center center no-repeat;
    background-size: cover;
    //height: 350px;
    max-height: 350px;
    min-height: 350px;
    color: #fff;
    text-align: center;
  }
  .amara{
    background: url(../images/estates/amara.jpeg) center center no-repeat;
    background-size: cover;
    //height: 350px;
    max-height: 350px;
    min-height: 350px;
    color: #fff;
    text-align: center;
  }
  .alma{
    background-color: darkred;
    color: #fff;
    //height: 350px;
    max-height: 350px;
    min-height: 350px;
    text-align: center;
  }
  .button{
    background-color: transparent !important;
    border: 2px solid #fff !important;
    border-radius: 5px;
    width: 180px;
    margin-left: 45%;
    margin-top: 40px;
    a{
      text-transform: uppercase!important;
      font-size: 12px !important;
      font-weight: 500 !important;
      color: #fff;
    }
  }
}

.footer{
  padding: 60px 0 60px;
  background-color: #3c763d;
  color: #fff;
}